---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crossing Kids - Green Valley Crossing">
  <main>
    <div class="container default-text">
      <h1>Crossing Kids</h1>
      <p>"At Green Valley Crossing, we are on mission to carry the message of the gospel to our community. We believe in the power of God’s Word, so we nurture that relationship through our children’s ministry. Crossing Kids aims to introduce Christ, our Savior, to your children. We desire to teach them the truth of His Word and share the Spirit and love of Jesus through service and fellowship.</p>
      <p>We hope this resource is helpful to you in your partnership with Crossing Kids for the spiritual care of your child. You are the primary source for spiritual nourishment in your child’s life, and we want to help you in that journey. Please don’t hesitate to reach out to us if there’s anything we can do to serve you and your kids."</p>
      <p>- The Crossing Kids Team</p>
    </div>
  </main>
</Layout>