---
import Layout from "../layouts/Layout.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Carousel from "../components/Carousel.astro";

const homeCarousel = [
  'img/home-carousel/IMG_0603.jpeg',
  'img/home-carousel/IMG_2097.jpeg',
  'img/home-carousel/IMG_2112.jpeg',
  'img/home-carousel/IMG_2117.jpeg'
  ]
---

<Layout>
  <main id="index-main">
    <section
      id="hero-section"
      style="background-image: url('img/hero-dark.jpg')"
    >
      <div
        id="navbar-foreground"
        style="background-image: url('img/hero-dark.jpg')"
      >
      </div>
      <div class="container">
        <h1>JOIN US ON SUNDAY</h1>
        <div class="no-margin">
          <p>75 Railroad Street</p>
          <p>Putnam, CT 06260</p>
        </div>
        <p>In-person and online @ 10 AM</p>
        <ButtonGroup
          style="bg-white"
          buttons={[
            { text: "Watch", href: "https://live.gvc.church/" },
            { text: "I'm New", href: "/Green-Valley-Crossing/im-new" },
            { text: "Bulletin", href: "/Green-Valley-Crossing/bulletin" },
          ]}
        />
      </div>
    </section>
    <section id="welcome-section">
      <div class="container">
        <div id="welcome-text">
          <p>
            Welcome to the online home of Green Valley Crossing. We know that connecting with a new church can be a daunting task, and we're glad that you are here. As you browse this site, our prayer is that you would discover how you can fit into God's story for the quiet corner of Connecticut. We believe He has a great plan for your life, and we're excited to help you experience Jesus in a fresh way.
          </p>
        </div>
        <ButtonGroup
          style="bg-white bd-black"
          buttons={[
            {
              text: "Learn What We Believe",
              href: "/Green-Valley-Crossing/our-beliefs",
            },
            {
              text: "Learn Our History",
              href: "/Green-Valley-Crossing/our-story",
            },
            {
              text: "Plan Your Visit",
              href: "/Green-Valley-Crossing/what-to-expect",
            },
            {
              text: "Kids Ministry",
              href: "/Green-Valley-Crossing/crossing-kids",
            },
          ]}
        />
      </div>
    </section>
    <Carousel images={homeCarousel} />
    <section id="contact-section">
      <div class="container default-text">
        <div class="row">
          <div>
            <h2>Come See Us</h2>
            <p>75 Railroad Street</br>Putnam, CT 06260</p>
          </div>
          <div>
            <h2>Send Us Mail</h2>
            <p>PO Box 927</br>Putnam, CT 06260</p>
          </div>
          <div>
            <h2>Call Us</h2>
            <p>860-928-0580</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/_variables.scss";

  #index-main {
    margin: 0;
    padding: 0;
  }
  #hero-section {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 3;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    #navbar-foreground {
      height: 80px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      position: sticky;
      top: 0;
      z-index: 4;
    }
    .container {
      z-index: 1;
    }
    h1 {
      font-size: clamp(3rem, 9vw, 6rem);
      text-align: center;
      margin-top: 1rem;
      margin-bottom: clamp(2rem, 5vw, 4rem);
      @media (max-width: $tablet) {
        margin-top: 0;
      }
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  #welcome-section {
    padding: 3rem;
    #welcome-text {
      font-size: clamp(1.25rem, 5vw, 2.5rem);
      line-height: 1.4;
    }
  }
  #contact-section {
    h2 {
      font-size: 2.5rem;
      margin-top: 0;
    }
    .row {
      align-items: flex-start;
      gap: 0 4rem;
      padding: 3rem 0;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }
  .no-margin p {
    margin: 0;
  }
</style>
