---
import Layout from "../layouts/Layout.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Carousel from "../components/Carousel.astro";
import { getArticle, getImages } from "../api";

const welcome = await getArticle("welcome");
const homeCarousel = await getImages("home-carousel")
---

<Layout>
  <main>
    <section
      id="hero-section"
      style="background-image: url('img/GVC Hero dark.jpg')"
    >
      <div
        id="navbar-foreground"
        style="background-image: url('img/GVC Hero dark.jpg')"
      >
      </div>
      <div class="column">
        <div class="container">
          <h1>JOIN US ON SUNDAY</h1>
          <div class="no-margin">
            <p>75 Railroad Street</p>
            <p>Putnam, CT 06260</p>
          </div>
          <p>In-person and online @ 10 AM</p>
          <ButtonGroup
            style="bg-white"
            buttons={[
              { text: "Watch Live", href: "https://live.gvc.church/" },
              { text: "I'm New", href: "/im-new" },
              { text: "Bulletin", href: "/bulletin" },
            ]}
          />
        </div>
      </div>
    </section>
    <section id="welcome-section">
      <div class="container">
        <div id="welcome-text" set:html={welcome} />
        <ButtonGroup
          style="bg-white bd-black"
          buttons={[
            {
              text: "Learn What We Believe",
              href: "/our-beliefs",
            },
            {
              text: "Meet Our Leaders",
              href: "/our-leaders",
            },
            {
              text: "Plan Your Visit",
              href: "/what-to-expect",
            },
            {
              text: "Take Your Next Step",
              href: "/next-steps",
            },
          ]}
        />
      </div>
    </section>
    <Carousel images={homeCarousel} />
    <section id="contact-section">
      <div class="container default-text">
        <div class="row">
          <div>
            <h2>Come See Us</h2>
            <p>75 Railroad Street</br>Putnam, CT 06260</p>
          </div>
          <div>
            <h2>Send Us Mail</h2>
            <p>PO Box 927</br>Putnam, CT 06260</p>
          </div>
          <div>
            <h2>Call Us</h2>
            <p>860-928-0580</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/_variables.scss";

  main {
    margin: 0;
    padding: 0;
  }
  #hero-section {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
    #navbar-foreground {
      height: 80px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      position: sticky;
      top: 0;
      z-index: 3;
      &.gray {
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 88%;
      padding: 3rem 0;
    }
    .container {
      z-index: 1;
    }
    h1 {
      font-size: clamp(3rem, 9vw, 6rem);
      text-align: center;
      margin-bottom: clamp(2rem, 5vw, 4rem);
      @media (max-width: $tablet) {
        margin-top: 0;
      }
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  #welcome-section {
    padding: 3rem;
    #welcome-text {
      font-size: clamp(1.25rem, 5vw, 2.5rem);
      line-height: 1.4;
    }
  }
  #image-carousel {
    width: 100%;
    box-sizing: border-box;
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
  #contact-section {
    h2 {
      font-size: 2.5rem;
      margin-top: 0;
    }
    .row {
      align-items: flex-start;
      gap: 0 4rem;
      padding: 3rem 0;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }
  .no-margin p {
    margin: 0;
  }
</style>

<style is:global lang="scss">
  #welcome-section .error-message {
    display: none;
  }
</style>
