---
import Layout from "../layouts/Layout.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Carousel from "../components/Carousel.astro";
import { getArticle } from "../api";

const welcome = await getArticle("welcome");
---

<Layout>
  <main>
    <section
      id="hero-section"
      style="background-image: url('img/GVC Hero dark.jpg')"
    >
      <div
        id="navbar-foreground"
        style="background-image: url('img/GVC Hero dark.jpg')"
      >
      </div>
      <div class="column">
        <div class="container">
          <h1>JOIN US ON SUNDAY</h1>
          <div class="no-margin">
            <p>75 Railroad Street</p>
            <p>Putnam, CT 06260</p>
          </div>
          <p>In-person and online @ 10 AM</p>
          <ButtonGroup
            style="bg-white"
            buttons={[
              { text: "Watch Live", href: "https://live.gvc.church/" },
              { text: "I'm New", href: "https://gvc.church/im-new" },
              { text: "Bulletin", href: "https://gvc.church/bulletin" },
            ]}
          />
        </div>
      </div>
    </section>
    <section id="welcome-section">
      <div class="container">
        <div id="welcome-text" set:html={welcome} />
        <ButtonGroup
          style="bg-white bd-black"
          buttons={[
            {
              text: "Learn What We Believe",
              href: "https://live.gvc.church/new-page",
            },
            {
              text: "Meet Our Leaders",
              href: "https://gvc.church/our-leaders",
            },
            {
              text: "Plan Your Visit",
              href: "https://gvc.church/what-to-expect-1",
            },
            {
              text: "Take Your Next Step",
              href: "https://gvc.church/next-steps",
            },
          ]}
        />
      </div>
    </section>
    <Carousel
      images={[
        "/img/home-carousel/IMG_0603.jpeg",
        "/img/home-carousel/IMG_2097.jpeg",
        "/img/home-carousel/IMG_2112.jpeg",
        "/img/home-carousel/IMG_2117.jpeg",
      ]}
    />
  </main>
</Layout>

<style lang="scss">
  @import "../styles/_variables.scss";

  main {
    margin-top: 0;
  }
  #hero-section {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
    #navbar-foreground {
      height: 80px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      position: sticky;
      top: 0;
      z-index: 2;
      &.gray {
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    .container {
      z-index: 1;
    }
    h1 {
      font-size: min(6rem, 12vw);
      text-align: center;
      margin-top: 0;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  #welcome-section {
    padding: 3rem;
    #welcome-text {
      font-size: clamp(1.25rem, 5vw, 2.5rem);
      line-height: 1.4;
    }
  }
  #image-carousel {
    width: 100%;
    box-sizing: border-box;
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
  .no-margin p {
    margin: 0;
  }
</style>
