---
import Layout from "../layouts/Layout.astro";
import { getArticle } from "../api";

const story = await getArticle("our-story");
---

<Layout title="Our Story - Green Valley Crossing">
  <main>
    <div class="container">
      <h1>Our Story</h1>
      <div id="our-story" set:html={story}></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/_variables.scss";

  main {
    margin-top: 280px;
    margin-bottom: 180px;
    @media screen and (max-width: $tablet) {
      margin-top: 160px;
    }
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
</style>

<style is:global lang="scss">
  #our-story {
    p {
      margin-bottom: 2rem;
      line-height: 1.4;
    }
    figure {
      display: flex;
      justify-content: center;
    }
  }
</style>
