---
import Layout from "../layouts/Layout.astro";
import { getArticle } from "../api";

const content = await getArticle("our-story");
---

<Layout title="Our Story - Green Valley Crossing">
  <main>
    <div class="container default-text">
      <h1>Our Story</h1>
      <div id="our-story" set:html={content}></div>
    </div>
  </main>
</Layout>

<style is:global lang="scss">
  #our-story {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
</style>
