---
import Layout from "../layouts/Layout.astro";
---

<Layout title="What To Expect - Green Valley Crossing">
  <main>
    <div class="container default-text">
      <h1>What To Expect</h1>
      <p class="center">
        Visiting a new church can be intimidating. Let us help you get over that initial feeling by explaining to you exactly what you can expect when you visit us on a Sunday morning. These frequently asked questions are designed with you in mind. Hopefully they will help you navigate your first visit to Green Valley Crossing.
      </p>
      <h4>What time does the service start?</h4>
      <p>Service starts on Sundays at 10am. Crossing Kids is open for children ages birth to 10 years old. If you’re looking for something throughout the week, connect with a life group near you.</p>
      <h4>What should I wear?</h4>
      <p>Green Valley Crossing is a very relaxed, contemporary church. Dress in a way that makes you feel comfortable. You’ll see people in anything from shorts and t-shirts to slacks and ties. The most important thing to remember is that we’re seeking to create an environment that’s free of distractions so people can worship Jesus freely. Please dress accordingly.</p>
      <h4>Where does GVC hold services?</h4>
      <p>The Crossing currently holds services at 75 Railroad Street in Putnam, CT. For directions, <a href="https://goo.gl/maps/TQvRi9YBKPf1u2C96">click here.</a></p>
      <h4>Where should I park?</h4>
      <p>Parking is available on both the street level and in the parking lot adjacent to our building. Overflow parking is available on the corner of Bolles and School Streets, as well as the Putnam Municipal Complex.</p>
      <h4>Where do my kids go?</h4>
      <p>Crossing Kids is available for children aged 0-10 years. If your little one has separation anxiety in new places, we welcome one parent to stay with them if needed to get them over that bump in the road. Our kids’ ministry area is securely locked down after service starts, so make sure to get here a little bit early in order to go through the check-in procedures so we can ensure a safe environment for your kiddo to learn about Jesus. </p>
    </div>
  </main>
</Layout>