---
const { images } = Astro.props;
---

{images && 
  <section class="image-carousel">
    <i class="fa-solid fa-chevron-left prev" data-carousel-arrow="prev"></i>
    <i class="fa-solid fa-chevron-right next" data-carousel-arrow="next"></i>
    <ul>
      {
        images.map((image, id) => (
          <li class="slide" data-active={id === 0 ? true : undefined}>
            <img src={`${image}`} />
          </li>
        ))
      }
    </ul>
    <div class="slide-buttons row">
      {
        images.map((image, id) => (
          <span
            class="slide-selector"
            data-slide={id}
            data-active={id === 0 ? true : undefined}
          />
        ))
      }
    </div>
  </section>
}

<style lang="scss">
  $fade: 500ms;

  .image-carousel {
    aspect-ratio: 16/9;
    position: relative;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: $fade opacity ease-in-out;
    transition-delay: $fade;
    &[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  i {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    padding: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .prev {
    left: 2rem;
  }
  .next {
    right: 2rem;
  }
  .slide-buttons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    gap: 15px;
  }
  .slide-selector {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &[data-active] {
      background-color: white;
    }
  }
</style>

{images && (
<script>
  const slides = document.querySelectorAll("li");
  const arrows = document.querySelectorAll("[data-carousel-arrow]");
  const buttons = document.querySelectorAll(".slide-selector");

  arrows.forEach((arrow) => {
    arrow.addEventListener("click", () => {
      const offset = arrow.dataset.carouselArrow === "next" ? 1 : -1;
      advanceSlide(offset);
    });
  });

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const index = button.dataset.slide;
      changeSlide(index);
    })
  })

  function advanceSlide(offset) {
    const activeSlide = document.querySelector(".slide[data-active]");
    
    let index = [...slides].indexOf(activeSlide) + offset;
    if (index < 0) index = slides.length - 1;
    if (index >= slides.length) index = 0;

    changeSlide(index)
  }

  function changeSlide(index) {
    const activeSlide = document.querySelector(".slide[data-active]");
    const activeButton = document.querySelector(".slide-selector[data-active]");

    slides[index].dataset.active = true;
    delete activeSlide.dataset.active;

    buttons[index].dataset.active = true;
    if (activeButton) {
      delete activeButton.dataset.active;
    }
  }

  setInterval(() => {
    advanceSlide(1);
  }, 7000);
</script>
)}
