<a href="/">Home</a>
<a href="/#welcome-section">Welcome</a>
<a href="/#contact-section">Contact Us</a>
<a href="/" id="nav-img-link" class="desktop">
  <img src="img/GVC Logo.png" alt="Green Valley Crossing logo" id="logo" />
</a>
<div class="folder">
  <a href="/our-story" class="desktop">About Us</a>
  <p class="mobile">About Us</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="/our-leaders">Our Leaders</a>
    <a href="/our-story">Our Story</a>
    <a href="/our-beliefs">Our Beliefs</a>
    <a href="/our-mission">Our Mission</a>
  </div>
</div>
<div class="folder">
  <a href="" class="desktop">Plan Your Visit</a>
  <p class="mobile">Plan Your Visit</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="">What to Expect</a>
    <a href="">Crossing Kids</a>
    <a href="">Register for Check-In</a>
  </div>
</div>
<div class="folder">
  <a href="/im-new" class="desktop">Connect</a>
  <p class="mobile">Connect</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="im-new">I'm New</a>
    <a href="">Prayer Requests</a>
    <a href="">Events</a>
    <a href="">Groups</a>
    <a href="">Women</a>
    <a href="">Giving</a>
    <a href="/bulletin">Bulletin</a>
    <a href="">Sermons</a>
    <a href="">Blog</a>
  </div>