---
const tallNav = 180;
const shortNav = 80;
---

<div id="navbar-background"></div>
<div id="desktop-nav">
  <a href="/">Home</a>
  <a href="/#welcome-section">Welcome</a>
  <a href="/#contact-section">Contact Us</a>
  <img src="img/GVC Logo.png" alt="Green Valley Crossing logo" id="logo" />
  <div class="folder">
    <a href="/our-story">About Us</a>
    <div class="sub-menu">
      <a href="">Our Leaders</a>
      <a href="">Our Story</a>
      <a href="">Our Beliefs</a>
      <a href="">Our Mission</a>
    </div>
  </div>
  <div class="folder">
    <a href="">Plan Your Visit</a>
    <div class="sub-menu">
      <a href="">What to Expect</a>
      <a href="">Crossing Kids</a>
      <a href="">Register for Check-In</a>
    </div>
  </div>
  <div class="folder">
    <a href="/bulletin">Connect</a>
    <div class="sub-menu">
      <a href="">I'm New</a>
      <a href="">Prayer Requests</a>
      <a href="">Events</a>
      <a href="">Groups</a>
      <a href="">Women</a>
      <a href="">Giving</a>
      <a href="">Bulletin</a>
      <a href="">Sermons</a>
      <a href="">Blog</a>
    </div>
  </div>
</div>
<div id="mobile-toggle-container">
  <div class="container">
    <i id="mobile-toggle" class="fa-solid fa-bars"></i>
  </div>
</div>
<div id="mobile-nav">
  <div class="container">
    <a href="/">Home</a>
    <a href="/#welcome-section">Welcome</a>
    <a href="/#contact-section">Contact Us</a>
    <div class="folder">
      <p>About Us</p>
      <p class="caret">&#62;</p>
      <div class="sub-menu" style="display: none;">
        <a href="">Our Leaders</a>
        <a href="">Our Story</a>
        <a href="">Our Beliefs</a>
        <a href="">Our Mission</a>
      </div>
    </div>
    <div class="folder">
      <p>Plan Your Visit</p>
      <p class="caret">&#62;</p>
      <div class="sub-menu" style="display: none;">
        <a href="">What to Expect</a>
        <a href="">Crossing Kids</a>
        <a href="">Register for Check-In</a>
      </div>
    </div>
    <div class="folder">
      <p>Connect</p>
      <p class="caret">&#62;</p>
      <div class="sub-menu" style="display: none;">
        <a href="">I'm New</a>
        <a href="">Prayer Requests</a>
        <a href="">Events</a>
        <a href="">Groups</a>
        <a href="">Women</a>
        <a href="">Giving</a>
        <a href="">Bulletin</a>
        <a href="">Sermons</a>
        <a href="">Blog</a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../styles/_variables.scss";

  a,
  p {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
  }

  #navbar-background {
    background-color: $dgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  #desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    @media screen and (max-width: $mobile) {
      display: none;
    }
    a:hover {
      color: $lgray;
    }
    a:after {
      content: "";
      height: 5px;
      display: block;
      visibility: hidden;
    }
    #logo {
      width: 300px;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      left: -10px;
      background-color: $dgray;
      width: auto;
      padding: 5px 15px 15px;
      a {
        display: block;
        margin-top: 10px;
        width: 100%;
        white-space: nowrap;
      }
    }
    .folder {
      position: relative;
      &:hover .sub-menu {
        display: block;
      }
    }
  }
  #mobile-toggle {
    color: white;
    font-size: 28px;
    position: fixed;
    top: 27px;
    z-index: 10;
    @media screen and (min-width: $mobile) {
      display: none;
    }
  }
  #mobile-nav {
    position: fixed;
    z-index: 20;
    background: linear-gradient($dgray, $gray);
    width: 100%;
    padding: 3rem 0;
    @media screen and (min-width: $mobile) {
      display: none;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    a,
    p {
      font-size: 2rem;
    }
    p {
      margin: 0;
      display: inline;
    }
    .caret {
      margin-left: 10px;
      display: inline-block;
      transition: 0.3s;
    }
    .sub-menu {
      a {
        display: block;
        font-size: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }
</style>

<script define:vars={{ shortNav, tallNav }}>
  const logo = document.querySelector("#logo");
  const background = document.querySelector("#navbar-background");
  const toggle = document.querySelector("#mobile-toggle");
  const mobileNav = document.querySelector("#mobile-nav");
  const mobileNavHeight = mobileNav.offsetHeight;
  const folders = document.querySelectorAll("#mobile-nav .folder");
  const time = 300;
  let animationInProgress = false;
  let menuIsOpen = false;

  window.innerWidth > 1150
    ? (background.style.height = tallNav + "px")
    : (background.style.height = shortNav + "px");

  mobileNav.style.top = -mobileNavHeight - shortNav + "px";

  function hideLogo() {
    animationInProgress = true;
    const animation = logo.animate(
      {
        width: 0,
        opacity: 0,
      },
      time
    );
    background.animate({ height: shortNav + "px" }, time);
    animation.addEventListener("finish", () => {
      logo.style.width = "0px";
      logo.style.opacity = 0;
      background.style.height = shortNav + "px";
    });
    setTimeout(() => {
      if (animationInProgress) {
        logo.style.display = "none";
      }
    }, time * 0.5);
  }

  function showLogo() {
    if (window.innerWidth > 1150) {
      animationInProgress = false;

      logo.style.display = "block";
      const animation = logo.animate(
        {
          width: "300px",
          opacity: 1,
        },
        time
      );
      background.animate({ height: tallNav + "px" }, time);
      animation.addEventListener("finish", () => {
        logo.style.width = "300px";
        logo.style.opacity = 1;
        background.style.height = tallNav + "px";
      });
    }
  }

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      hideLogo();
    } else {
      showLogo();
    }
  });

  toggle.addEventListener("click", function () {
    if (menuIsOpen) {
      // close menu
      menuIsOpen = false;
      toggle.classList.remove("fa-x");
      toggle.classList.add("fa-bars");
      background.style.zIndex = "0";
      mobileNav.animate({ top: -mobileNavHeight + "px" }, time);
      setTimeout(() => {
        mobileNav.style.top = -mobileNavHeight + "px";
      }, time * 0.9);
    } else {
      // open menu
      menuIsOpen = true;
      toggle.classList.remove("fa-bars");
      toggle.classList.add("fa-x");
      mobileNav.animate({ top: shortNav + "px" }, time);
      setTimeout(() => {
        mobileNav.style.top = shortNav + "px";
        background.style.zIndex = "5";
      }, time * 0.8);
    }
  });

  folders.forEach((folder) => {
    folder.addEventListener("click", function () {
      const submenu = this.querySelector(".sub-menu");
      const caret = this.querySelector(".caret");
      if (submenu.style.display === "none") {
        submenu.style.display = "block";
        caret.style.transform = "rotate(90deg)";
      } else {
        submenu.style.display = "none";
        caret.style.transform = "rotate(0deg)";
      }
    });
  });
</script>
