<div class="folder">
  <a href="/Green-Valley-Crossing/our-story" class="desktop">About Us</a>
  <p class="mobile">About Us</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="/Green-Valley-Crossing/our-story">Our Story</a>
    <a href="/Green-Valley-Crossing/our-beliefs">Our Beliefs</a>
    <a href="/Green-Valley-Crossing/our-mission">Our Mission</a>
  </div>
</div>
<div class="folder">
  <a href="/Green-Valley-Crossing/what-to-expect" class="desktop">Plan Your Visit</a>
  <p class="mobile">Plan Your Visit</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="/Green-Valley-Crossing/what-to-expect">What to Expect</a>
    <a href="/Green-Valley-Crossing/crossing-kids">Crossing Kids</a>
  </div>
</div>
<div class="folder">
  <a href="/Green-Valley-Crossing/im-new" class="desktop">Connect</a>
  <p class="mobile">Connect</p>
  <p class="caret mobile">&#62;</p>
  <div class="sub-menu">
    <a href="im-new">I'm New</a>
    <a href="/Green-Valley-Crossing/bulletin">Bulletin</a>
  </div>
</div>