---
interface Props {
  title?: string;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title = "Green Valley Crossing" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/GVC favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86e474c9b5.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global lang="scss">

  html {
    font-family: "Raleway", sans-serif;
  }
  body {
    margin: 0;
  }
  main {
    margin-top: 280px;
  }
  .container {
    width: min(1200px, 80vw);
    margin: 0 auto;
  }
</style>
