---
interface Props {
  title?: string;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title = "Green Valley Crossing" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/GVC favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86e474c9b5.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global lang="scss">
  @import "../styles/_variables.scss";

  html {
    font-family: "Raleway", sans-serif;
    background-color: $gray5;
  }
  body {
    margin: 0;
    background-color: white;
  }
  main {
    padding-top: 240px;
    margin-bottom: 180px;
    @media screen and (max-width: $tablet) {
      padding-top: 120px;
    }
  }
  .container {
    width: min(1100px, 80vw);
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .default-text {
    h1 {
      font-size: 3rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      line-height: 1.5;
    }
    li {
      line-height: 1.5;
      margin-bottom: 10px;
    }
    .center {
      text-align: center;
    }
  }
  a {
    color: $accent;
    &:hover {
      text-decoration: none;
      color: $gray3;
    }
  }
</style>
