---
interface Props {
  title?: string;
}

import Navbar from "../components/Navbar.astro";

const { title = "Green Valley Crossing" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/GVC favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global lang="scss">
  $accent: #435e0f;
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
  }
  html {
    font-family: "Raleway", sans-serif;
  }
  body {
    margin: 0;
    // position: relative;
  }
  .container {
    width: min(1200px, 80vw);
    margin: 0 auto;
  }
</style>
